.container {
	width: auto;
}
.container > *:first-child {
	width: auto;
	max-width: 900px;
	margin: 0 auto;
}
.flex {
	display: flex;
}
.flex .tab {
	flex: 1;
}
.flex > * {
	height: min-content;
	margin: auto .1rem;
}